*~
.DS_Store
.idea*
.history*
.svn
.cvs
.htaccess
php.ini
*.bak
*.swp
Thumbs.db

dist
node_modules
npm-debug.log
vendor
package-lock.json

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi